Package: ukui-group-manager-dbgsym
Package-Type: ddeb
Source: ukui-group-manager
Version: 0.0.1kord
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: yue_shuai <yueshuai@kylinos.cn>
Installed-Size: 970
Depends: ukui-group-manager (= 0.0.1kord)
Section: universe/debug
Priority: optional
Description: debug symbols for ukui-group-manager
Build-Ids: f922f328c85184960837f28b82d7bbedd4bd67db
